force-app/main/default/flows/Contact_Role_Assistant_Opportunity_Contact_Roles.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ifRemoveContactRole</name>
        <label>ifRemoveContactRole</label>
        <locationX>277</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>getAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>removeIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteOpportunityContactRole</targetReference>
            </connector>
            <label>ifTrue</label>
        </rules>
        <rules>
            <name>ifFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>removeIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityContactRoles</targetReference>
            </connector>
            <label>ifFalse</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Role Assistant: Opportunity Contact Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Contact Role Assistant: Opportunity Contact Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOpportunityContactRoles</name>
        <label>createOpportunityContactRoles</label>
        <locationX>808</locationX>
        <locationY>225</locationY>
        <inputReference>opportunityContactRolesAssigned</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteOpportunityContactRole</name>
        <label>deleteOpportunityContactRole</label>
        <locationX>285</locationX>
        <locationY>413</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityContactRole</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
    </recordDeletes>
    <recordLookups>
        <name>getAccountContacts</name>
        <label>getAccountContacts</label>
        <locationX>409</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suggested_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>accountContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getAccountId</name>
        <label>getAccountId</label>
        <locationX>285</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountContacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>thisAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityContactRoles</name>
        <label>getOpportunityContactRoles</label>
        <locationX>159</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>opportunityContactRolesFound</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <sortField>Role</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Additional_Contacts_to_Add</name>
        <label>Additional Contacts to Add</label>
        <locationX>675</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_Contact_Roles</targetReference>
        </connector>
        <fields>
            <name>header3</name>
            <extensionName>c:CRA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>searchContacts3</name>
            <extensionName>c:CRA_SearchContacts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>searchedContacts</assignToReference>
                <name>lstSelectedRecords</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer3</name>
            <extensionName>c:CRA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonText</name>
                <value>
                    <stringValue>Add Contact(s) To Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonIcon</name>
                <value>
                    <stringValue>utility:add</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Define_Contact_Roles</name>
        <label>Define Contact Roles</label>
        <locationX>808</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createOpportunityContactRoles</targetReference>
        </connector>
        <fields>
            <name>header4</name>
            <extensionName>c:CRA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>assignRoles4</name>
            <extensionName>c:CRA_AssignRoles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchedContacts</name>
                <value>
                    <elementReference>searchedContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactsAdded</name>
                <value>
                    <elementReference>selectedContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opportunity</name>
                <value>
                    <elementReference>thisOpportunityId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityContactRolesAssigned</assignToReference>
                <name>opportunityContacts</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer4</name>
            <extensionName>c:CRA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonText</name>
                <value>
                    <stringValue>Apply Role(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonIcon</name>
                <value>
                    <stringValue>utility:crossfilter</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Contact_Roles</name>
        <label>Opportunity Contact Roles</label>
        <locationX>67</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ifRemoveContactRole</targetReference>
        </connector>
        <fields>
            <name>header1</name>
            <extensionName>c:CRA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>missingRoles1</name>
            <extensionName>c:CRA_MissingRoles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeContacts</name>
                <value>
                    <elementReference>opportunityContactRolesFound</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactRoles1</name>
            <extensionName>c:CRA_ContactRoles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeContacts</name>
                <value>
                    <elementReference>opportunityContactRolesFound</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisOpportunityContactRole</assignToReference>
                <name>contactToRemove</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>removeIndicator</assignToReference>
                <name>removeIndicator</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer1</name>
            <extensionName>c:CRA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>refreshAllowed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonText</name>
                <value>
                    <stringValue>Find More Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonIcon</name>
                <value>
                    <stringValue>utility:advertising</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>removeIndicator</assignToReference>
                <name>refreshIndicator</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Suggested_Contacts</name>
        <label>Suggested Contacts</label>
        <locationX>540</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Contacts_to_Add</targetReference>
        </connector>
        <fields>
            <name>header2</name>
            <extensionName>c:CRA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>suggestedContacts2</name>
            <extensionName>c:CRA_SuggestedContacts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountContacts</name>
                <value>
                    <elementReference>accountContacts</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedContactsLength</assignToReference>
                <name>selectedRowsCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedContacts</assignToReference>
                <name>contactsSelected</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer2</name>
            <extensionName>c:CRA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonText</name>
                <value>
                    <stringValue>Search For Additional Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonText2</name>
                <value>
                    <stringValue>Add Contact(s) To Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonCondition</name>
                <value>
                    <elementReference>selectedContactsLength</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonIcon</name>
                <value>
                    <stringValue>utility:forward</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonIcon2</name>
                <value>
                    <stringValue>utility:add</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getOpportunityContactRoles</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>opportunityContactRolesAssigned</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>opportunityContactRolesFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>removeIndicator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>selectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>selectedContactsLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>17</scale>
    </variables>
    <variables>
        <name>thisAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisOpportunityContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
